
body{
	background-image: url(1.jpg);
	background-repeat:repeat-x;
	background-position: right top;
	background-attachment:scroll;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:160px;
}
li a{
	text-align: center;
	display: block;
	color: #ffffff;
	padding: 20px 40px;
	text-decoration: none;
}
li a:hover{
	background-color: #ffaaff;
	color: blueviolet;
	padding: 20px 40px;
}
.leftcolumn1{
	float: left;
	width:25%;
	padding-left: 10px;
	padding-top: 200px;
}
.leftcolumn2{
	float: left;
	width:25%;
	padding-left: 100px;
	padding-top: 200px;
}